*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: lightgray;
  padding: 20px 2%;
  position:fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 220px;
  justify-content: space-between;
  
}

.logo{
    margin-bottom: 10px;
    text-align:center;
    color:blueviolet;
    justify-content: space-between;
}

html, body{height: 100%;}

.main{
  display: flex;
  flex-wrap:wrap;
  height: 100%;
}

.sidebar{
  width: 20%;
  height: 100%;
  background-color: #e6e6e6;
  margin:0;
}

.sidebar .logo {
  width: 80%;          /* ajusta o tamanho da imagem */
  margin-bottom: 10px; /* espaçamento abaixo da imagem */
  margin-top: 5px;
  padding: 10px;
  display: flex;
  justify-content: center; /* eixo horizontal */
}


.sidebar a {
  display:block;
  padding: 10px;
  text-decoration: none; /* remove o underline*/
  padding: 10px 15px;
  /*margin-left: 15px;
  margin-top: 5px;*/
  color:#5e5e5e;
}

.sidebar a:hover {
  background-color: rgba(0,0,0,0.1);
}

.sidebar a .sidebar-active > svg{
  color:#999
}

.sidebar h3{
  text-align: center;
}

.content{
  width: 80%;
  background-color: rgb(240, 240, 240);
}

.logo{
  cursor:pointer;
}
.sidebar a.sidebar-active{
  border-left: 2px,solid, ;
  background-color: #25D281;
  color:#ffffff;
  padding-left: 10px; /* opcional, para afastar o conteúdo da borda */
}

.user-perfil{
  margin-top: auto;
}